<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/outdoorsports</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="outdoorapp.to.Escursione"/>
  <mapping class="outdoorapp.to.Iscrizione"/>
  <mapping class="outdoorapp.to.ManagerDiEscursione"/>
  <mapping class="outdoorapp.to.ManagerDiSistema"/>
  <mapping class="outdoorapp.to.Optional"/>
  <mapping class="outdoorapp.to.OptionalEscursione"/>
  <mapping class="outdoorapp.to.OptionalIscrizione"/>
  <mapping class="outdoorapp.to.Partecipante"/>
  <mapping class="outdoorapp.to.Ruoli"/>
  <mapping class="outdoorapp.to.StatoEscursione"/>
  <mapping class="outdoorapp.to.StatoIscrizione"/>
  <mapping class="outdoorapp.to.StatoOptional"/>
  <mapping class="outdoorapp.to.StatoUtente"/>
  <mapping class="outdoorapp.to.TipoEscursione"/>
  <mapping class="outdoorapp.to.TipoOptional"/>
  <mapping class="outdoorapp.to.Utente"/>
 </session-factory>
</hibernate-configuration>
