<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/outdoorsports</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.show_sql">true</property>
  <property name="show_sql">true</property>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hbm2ddl.auto">update</property>
  <mapping resource="resources/db/Ruoli.hbm.xml"/>
  <mapping resource="resources/db/StatoUtente.hbm.xml"/>
  <mapping resource="resources/db/Utente.hbm.xml"/>
  <!-- <mapping resource="resources/db/Escursione.hbm.xml"/>
  <mapping resource="resources/db/Iscrizione.hbm.xml"/>
  <mapping resource="resources/db/Optional.hbm.xml"/>
  <mapping resource="resources/db/StatoEscursione.hbm.xml"/>
  <mapping resource="resources/db/StatoIscrizione.hbm.xml"/>
  <mapping resource="resources/db/StatoOptional.hbm.xml"/>
  <mapping resource="resources/db/TipoEscursione.hbm.xml"/>
  <mapping resource="resources/db/TipoOptional.hbm.xml"/> -->
 </session-factory>
</hibernate-configuration>
