<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/outdoorsports</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.show_sql">true</property>
  <property name="show_sql">true</property>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hbm2ddl.auto">update</property>
  <mapping resource="resources/db/Ruoli.hbm.xml"/>
  <mapping resource="resources/db/StatoUtente.hbm.xml"/>
  <mapping resource="resources/db/Utente.hbm.xml"/>
  <!--<mapping class="outdoorapp.to.Escursione"/>
  <mapping class="outdoorapp.to.Iscrizione"/>
  <mapping class="outdoorapp.to.Optional"/>
  <mapping class="outdoorapp.to.OptionalEscursione"/>
  <mapping class="outdoorapp.to.OptionalIscrizione"/>
  
  <mapping class="outdoorapp.to.StatoEscursione"/>
  <mapping class="outdoorapp.to.StatoIscrizione"/>
  <mapping class="outdoorapp.to.StatoOptional"/>
  
  <mapping class="outdoorapp.to.TipoEscursione"/>
  <mapping class="outdoorapp.to.TipoOptional"/>-->
 </session-factory>
</hibernate-configuration>
